<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"> 
<head> 
<title>Carpool Report</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css" /> 
</head>
<body id="report">
<a href="/<%=session[:event_id] %>">Back</a>
<a href="/carpool/email">Email Setup</a>
<h1>Report</h1>
<h2>Drivers and Their Cars</h2>
<% @drivers.select {|v| v.event_id == session[:event_local_id]  and v.rides.size != 0}.sort {|a,b| a.person.reverse_name <=> b.person.reverse_name }.each do |driver| %>
	<div class="report_table">
	<table class="report">
		<thead>		
			<tr><th colspan="7"><h3 style="width:auto;background-color:#e5e5e5"><%=driver.person.full_name%></h3></th></tr>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Contact Method</th>
				<th>Departure Time</th>
			</tr>
		</thead>
		<tbody>
			<tr class="driver">
				<td><%= driver.person.full_name.html_safe %></td>
				<td><%= driver.address.html_safe %></td>
				<td><%= driver.email.html_safe %></td>
				<td><%= driver.phone.html_safe %></td>
				<td><%= driver.contact_method.html_safe %></td>
				<td><%= driver.departureTimeNice.html_safe %></td>
			</tr>
			<% if driver.special_info != '' %>
				<tr class="rider">
					<td class="far_indent" colspan="7"><em>Special Info: </em><%= driver.special_info.html_safe %></td>
				</tr>
			<% end %>
			<div class="rider_block">
			<% driver.rides.sort {|a,b| a.person.reverse_name <=> b.person.reverse_name}.each do |rider| %>
				<tr class="rider">
					<td class="indent"><%= rider.person.full_name.html_safe %></td>
					<td><%= rider.address.html_safe %></td>
					<td><%= rider.email.html_safe %></td>
					<td><%= rider.phone.html_safe %></td>
					<td><%= rider.contact_method.html_safe %></td>
					<td><%= rider.departureTimeNice.html_safe %></td>
				</tr>
				<% if rider.special_info != '' %>
					<tr class="rider">
						<td class="far_indent" colspan="7"><em>Special Info: </em><%= rider.special_info.html_safe %></td>
					</tr>
				<% end %>
			<% end %>
			</div>
	</tbody>
</table>
</div>
<br>
<% end %>
<% if @drivers.select {|v| v.event_id ==session[:event_local_id]  and v.rides.size == 0}.size != 0 %>
<h2>Unused drivers</h2>
<table class="report">
	<thead>		
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Contact Method</th>
			<th>Departure Time</th>
		</tr>
	</thead>
	<tbody>
		<% @drivers.select {|v| v.event_id == session[:event_local_id]  and v.rides.size == 0}.sort {|a,b| a.person.reverse_name <=> b.person.reverse_name}.each do |driver| %>
			<tr class="driver">
				<td><%= driver.person.full_name.html_safe %></td>
				<td><%= driver.address.html_safe %></td>
				<td><%= driver.email.html_safe %></td>
				<td><%= driver.phone.html_safe %></td>
				<td><%= driver.contact_method.html_safe %></td>
				<td><%= driver.departureTimeNice.html_safe %></td>
			</tr>
			<% if driver.special_info != '' %>
				<tr class="rider">
					<td class="far_indent" colspan="7"><em>Special Info: </em><%= driver.special_info.html_safe %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>
<% end %>
<br>
<% if @unassigned_riders.size != 0 %>
	<h2>Unassigned Riders</h2>
	<table class="report">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Contact Method</th>
				<th>Departure Time</th>
			</tr>
		</thead>
		<tbody>
			<% @unassigned_riders.sort {|a, b| a.person.reverse_name <=> b.person.reverse_name}.each do |rider| %>
			<% if rider.event_id == session[:event_local_id]  %>
				<tr>
					<td><%= rider.person.full_name.html_safe %></td>
					<td><%= rider.address.html_safe %></td>
					<td><%= rider.email.html_safe %></td>
					<td><%= rider.phone.html_safe %></td>
					<td><%= rider.contact_method.html_safe %></td>
					<td><%= rider.departureTimeNice.html_safe %></td>
				</tr>
				<% if rider.special_info != '' %>
					<tr>
						<td colspan="6" class="indent"><em>Special Info: </em><%=rider.special_info%></td>
					</tr>
				<% end %>
			<% end %>
			<% end %>
		</tbody>
	</table>
<% end %>
</body>
</html>
