<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<!-- If you are seeing this, you cannot receive HTML emails. If you need help, please contact your conference coordinator for your ride information. -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"> 
<head> 
<title>Carpool Report</title>
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css" /> 
</head>
<body id="report">
Here is your car for <%= @event.event_name %>
<div class="report_table">
<table class="report">
	<thead>		
<tr><th colspan="7"><h3 style="width:auto;background-color:#e5e5e5"><%=@driver.person.full_name%></h3></th></tr>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Contact Method</th>
			<th>Departure Time</th>
		</tr>
	</thead>
	<tbody>
			<tr class="driver">
				<td><%=@driver.person.full_name%></td>
				<td><%= @driver.address.html_safe %></td>
				<td><%= @driver.email.html_safe %></td>
				<td><%= @driver.phone.html_safe %></td>
				<td><%= @driver.contact_method.html_safe %></td>
				<td><%= @driver.departureTime.html_safe %></td>
			</tr>
			<% if @driver.special_info != '' %>
				<tr class="rider">
					<td class="far_indent" colspan="7"><em>Special Info: </em><%= @driver.special_info.html_safe %></td>
				</tr>
			<% end %>
			<div class="rider_block">
			<% @driver.rides.sort {|a,b| a.person.reverse_name <=> b.person.reverse_name}.each do |rider| %>
				<tr class="rider">
					<td class="indent"><%= rider.person.full_name.html_safe %></td>
					<td><%= rider.address.html_safe %></td>
					<td><%= rider.email.html_safe %></td>
					<td><%= rider.phone.html_safe %></td>
					<td><%= rider.contact_method.html_safe %></td>
					<td><%= rider.departureTime.html_safe %></td>
				</tr>
				<% if rider.special_info != '' %>
					<tr class="rider">
						<td class="far_indent" colspan="7"><em>Special Info: </em><%=rider.special_info%></td>
					</tr>
				<% end %>
			<% end %>
			</div>
	</tbody>
</table>
</div>
<%= @event.email_content.html_safe %>
</body>
</html>
